@iut2-info-stud:registry=https://gricad-gitlab.univ-grenoble-alpes.fr/api/v4/projects/28957/packages/npm/
//gricad-gitlab.univ-grenoble-alpes.fr/api/v4/projects/28957/packages/npm/:_authToken="${NPM_TOKEN}"